# .yamllint — YAML formatting rules
# Works alongside ansible-lint

---
extends: default

ignore: |
  roles/geerlingguy.docker/
  .ansible/roles/geerlingguy.docker/

rules:
  line-length:
    max: 160
    level: warning

  truthy:
    allowed-values:
      - "true"
      - "false"
      - "yes"
      - "no"
    check-keys: false

  comments:
    min-spaces-from-content: 1
  comments-indentation: false

  braces:
    min-spaces-inside: 0
    max-spaces-inside: 1

  octal-values:
    forbid-implicit-octal: true
    forbid-explicit-octal: true
