# controller/semaphore/.env template
SEMAPHORE_PORT={{ ansispire_hub_port }}
SEMAPHORE_ADMIN={{ ansispire_hub_admin_user }}
SEMAPHORE_ADMIN_NAME=Ansispire Administrator
SEMAPHORE_ADMIN_EMAIL={{ ansispire_hub_admin_email }}
SEMAPHORE_ADMIN_PASSWORD={{ ansispire_hub_admin_password }}
TZ={{ system_timezone | default('UTC') }}
